In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
from sklearn.datasets import load_boston
dataset=load_boston()
dataset.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [3]:
df=pd.DataFrame(dataset.data,columns=dataset.feature_names)
df['price']=dataset.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
x=df.iloc[:,df.columns!='price'].values
y=df.iloc[:,-1].values

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(y_test)

[38.7 23.3 21.2 50.  20.  11.9 11.7 22.6  9.5 29.1 32.5 23.2  8.3 24.1
 33.2  7.5 19.6 23.3 20.1 13.1 13.6 39.8 20.7 50.  20.1 29.   8.4 20.9
 30.1 20.4 48.8 16.6 34.6 23.7 10.9 13.8 23.5 10.4 22.8 35.1 12.3 37.9
 45.4 16.4 50.  30.8 34.9 10.8 24.6 13.4 28.1 21.6 35.2 28.7 13.3 25.
 17.4 19.1 27.5 22.  33.4 14.2 15.1 10.2 18.5 18.4 22.8 17.4 15.  50.
 18.3 23.8 18.7 20.6 22.6 13.1  8.8 24.  24.7  8.1 23.1 22.  22.3 22.5
 33.4 13.9 18.7 20.8 29.  21.1 23.  29.8 24.3 25.1  8.7 19.3 22.5 22.5
 32.9 18.7 17.8 14.1]

In [10]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)
y_pre=reg.predict(x_test)

In [11]:
reg.score(x_test,y_test)

0.7568573192601393

In [12]:
from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(y_test, y_pre)))

4.897194464971182

In [13]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pre)

3.5547519190038157

In [16]:
import statsmodels.formula.api as sm
model=sm.ols(formula='price ~ CRIM+ZN+INDUS+CHAS+NOX+RM+AGE+DIS+RAD+TAX+PTRATIO+B+LSTAT',data=df)
fitt=model.fit()
print(fitt.rsquared,fitt.rsquared_adj)

0.7406426641094095 0.733789726372463